<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img src="assets/xfs_image/12/side_bar.svg">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Training Star
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding class='mainPage tradingStar'>
    <ion-row class='imageSlider'> 
        <ion-slides pager="true" [options]="slideOpts">   
          <ion-slide>
            <ion-row class='sliderRow'>  
              <ion-col size="12" class='sliderItem'>                
                <img class="search" src='assets/xfs_image/34/banner_1.png'>
              </ion-col> 
              <ion-col  size="12">
                <h4></h4>
              </ion-col>               
            </ion-row>
            
          </ion-slide>  
        
          <ion-slide>
           <ion-row class='sliderRow'>  
              <ion-col size="12" class='sliderItem'>                 
                <img class="search" src='assets/xfs_image/34/banner_1.png'>
              </ion-col> 
              <ion-col  size="12">
                <h4></h4>
              </ion-col>               
            </ion-row>
          </ion-slide> 
    
          <ion-slide>
            <ion-row class='sliderRow'>  
              <ion-col size="12" class='sliderItem'>               
                <img class="search" src='assets/xfs_image/34/banner_1.png'>
              </ion-col> 
              <ion-col  size="12">
                <h4></h4>
              </ion-col>               
            </ion-row>  
            </ion-slide>       
        </ion-slides>
    </ion-row>
    <ion-row class='showImageBanner'>
      <ion-col size='3'> <img src='assets/xfs_image/34/p_1.png'></ion-col>
      <ion-col size='3'> <img src='assets/xfs_image/34/p_2.png'></ion-col>
      <ion-col size='3'> <img src='assets/xfs_image/34/p_3.png'></ion-col>
      <ion-col size='3'> <img src='assets/xfs_image/34/p_4.png'></ion-col>
    </ion-row>

    <ion-row class='tradingstarSection'>
      <ion-col size="12" class='tradingstar'>
        <ion-row>
           <ion-col  size="3">
          <img src="assets/xfs_image/34/p_5.png" width="100%">
        </ion-col>
        <ion-col  size="9">
          <h6>User 1</h6>
          <p class="sport">Cricket</p>
          <p>{{(str.length>50)? (str | slice:0:50)+'...':(str)}}</p>
        </ion-col>
        </ion-row>     
        <div class='nextButton' (click)='goTo()'>
          <img src="assets/xfs_image/17/arrow.svg">
        </div>
      </ion-col>
      <ion-col size="12" class='tradingstar'>
        <ion-row>
           <ion-col  size="3">
          <img src="assets/xfs_image/34/p_6.png" width="100%">
        </ion-col>
        <ion-col  size="9">
          <h6>User 2</h6>
          <p class="sport">Football</p>
          <p>{{(str.length>50)? (str | slice:0:50)+'...':(str)}}</p>
        </ion-col>
        </ion-row>     
        <div class='nextButton' (click)='goTo()'>
          <img src="assets/xfs_image/17/arrow.svg">
        </div>
      </ion-col>
      <ion-col size="12" class='tradingstar'>
        <ion-row>
           <ion-col  size="3">
          <img src="assets/xfs_image/34/p_7.png" width="100%">
        </ion-col>
        <ion-col  size="9">
          <h6>User 3</h6>
          <p class="sport">Cricket</p>
          <p>{{(str.length>50)? (str | slice:0:50)+'...':(str)}}</p>
        </ion-col>
        </ion-row>     
        <div class='nextButton' (click)='goTo()'>
          <img src="assets/xfs_image/17/arrow.svg">
        </div>
      </ion-col>
      <ion-col size="12" class='tradingstar'>
        <ion-row>
           <ion-col  size="3">
          <img src="assets/xfs_image/34/p_5.png" width="100%">
        </ion-col>
        <ion-col  size="9">
          <h6>User 4</h6>
          <p class="sport">Basketball</p>
          <p>{{(str.length>50)? (str | slice:0:50)+'...':(str)}}</p>
        </ion-col>
        </ion-row>     
        <div class='nextButton' (click)='goTo()'>
          <img src="assets/xfs_image/17/arrow.svg">
        </div>
      </ion-col>
      <ion-col size="12" class='tradingstar'>
        <ion-row>
           <ion-col  size="3">
          <img src="assets/xfs_image/34/p_6.png" width="100%">
        </ion-col>
        <ion-col  size="9">
          <h6>User 5</h6>
          <p class="sport">Cricket</p>
          <p>{{(str.length>50)? (str | slice:0:50)+'...':(str)}}</p>
        </ion-col>
        </ion-row>     
        <div class='nextButton' (click)='goTo()'>
          <img src="assets/xfs_image/17/arrow.svg">
        </div>
      </ion-col>
    </ion-row>
</ion-content>
