<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)='back()'><img src="assets/back-arrow.png" width="20px"></ion-button>
    </ion-buttons>
    <ion-title>
      Schedule A Sessions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class='mainPage'>
  

  <ion-grid>
    <ion-row class='newsSection'>
      <ion-col size="12" class='news' *ngFor='let pd of Coaches'>
        <ion-row>
           <ion-col  size="4" class='productImage'>
           <img src="assets/xfs_image/19/Asset 5.png" width="100%">  (click)='detail()'
            <img src="{{pd.profilePic}}" width="100%">
          </ion-col>
          <ion-col  size="8">
            <h6>{{pd.name}}</h6>
            <p><b>{{pd.email}}</b></p>
             <p class="buyButton">Book</p>
          </ion-col>
        </ion-row>   
      </ion-col>

      <ion-col size="12" class='news' *ngIf='Coaches.length == 0'>
        <ion-row>
          <h5 class="noRecordFound">No Item found.</h5>
         </ion-row>
      </ion-col>      
    </ion-row>
  </ion-grid> 
</ion-content> -->

<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
         </ion-buttons>
      <ion-title>Schedule</ion-title>
      <!-- <div class="noti">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-icon name="more" class="more"></ion-icon>
      </div> -->
    </ion-toolbar>  
  </ion-header>

  <ion-content>
  
      <div class="listing" no-padding>
          <ion-row >

              <ion-col size="2" text-right (click)="goToLastMonth()">
                  <ion-icon name="arrow-back"></ion-icon>
              </ion-col>
              <ion-col size="8" text-center>
                  <h2>{{currentMonth}} <span class="green2018">{{currentYear}}</span></h2>
              </ion-col>
              <ion-col size="2" text-left (click)="goToNextMonth()">
                  <ion-icon name="arrow-forward"></ion-icon> 
              </ion-col> 
          </ion-row>

          <ion-row class="calendar">
              <ion-col><b>S</b></ion-col>
              <ion-col><b>M</b></ion-col>
              <ion-col><b>T</b></ion-col>
              <ion-col><b>W</b></ion-col>
              <ion-col><b>T</b></ion-col>
              <ion-col><b>F</b></ion-col>
              <ion-col><b>S</b></ion-col>
            </ion-row>
      
            <ion-row class="calendar-date">
              <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>
              <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)" >
                <span class="currentDate" *ngIf="currentDate === day; else otherDate" >{{day}}
                  <div *ngFor="let eventDay of eventList" class="event-div"> 
                    <div class="event-bullet" *ngIf="eventDay == day"></div>
                  </div>
                </span>
                <ng-template #otherDate class="otherDate" >
      
                    <div *ngIf="isday!=day">
                      <span>{{day}}</span>
                      <div *ngFor="let eventDay of eventList" class="event-div"> 
                        <div class="event-bullet" *ngIf="eventDay== day "></div>
                      </div>
                    </div>
      
                    <div *ngIf="isday==day">
                      <span class="currentDate" *ngIf="isday==day">{{day}}</span>
                      <div *ngFor="let eventDay of eventList" class="event-div"> 
                        <div class="event-bullet" *ngIf="eventDay == day "></div>
                      </div>
                    </div>
      
                  <!-- {{day}}<br> -->
                  <!-- <div class="event-bullet" *ngIf="checkEvent(day)"></div> -->
                </ng-template>
              </ion-col>
              <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>
            </ion-row>
        </div>
        
    
     <!--  <ion-grid class="time_block">
        <ion-row *ngIf="slots.length>0">
          <ion-col size="4" text-center *ngFor="let s of slots; let i=index" >
             <span [ngClass]="{'active': selectedSlot==i}" (click)="selectTime(s.slot_timing,s.end_slot_timing,i);" >{{s.start_time}}</span>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="slots.length==0">
          <ion-col size="12" text-center>
             <h3 class="nores" *ngIf="isHoliday==''">No slot available on selected date.</h3>
             <h3 class="nores" *ngIf="isHoliday!=''">{{isHoliday}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid> -->

      <!-- <ion-grid>
        <ion-row class="video_audio_sec">
          <ion-col size="12" class="marg">
              <ion-icon name="mic"></ion-icon>
              <button ion-button full (click)="captureAudio()">Click here to Capture Audio</button>
          </ion-col>
          <ion-col size="12" class="song_list" [hidden]="audioFileName==''">
              <p>{{audioFileName}}</p>
              <ion-icon name="close" (click)="delMedia('a');"></ion-icon>
          </ion-col>
          <ion-col size="12"  class="marg">
            <ion-icon name="videocam"></ion-icon>
            <button ion-button full (click)="captureVideo()">Click here to Capture Video</button>
          </ion-col>
          <ion-col size="12" class="song_list" [hidden]="videoFileName==''">
              <p>{{videoFileName}}</p>
              <ion-icon name="close" (click)="delMedia('v');"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid> -->

      <!-- <ion-row class="area_sec">
        <ion-col size="12">
          <ion-textarea [(ngModel)]="desc" placeholder="Type description..."></ion-textarea>
        </ion-col>
      </ion-row> -->

   <!--    <ion-grid>
        <ion-row>
          <p class="desclaimer-txt">Appointment needs to be confirmed
            by the Attorney. 
            This will send an appointment request.</p>
        </ion-row>
      </ion-grid> -->
      
        <ion-grid>
            <ion-row class="remember">
                <ion-col size="12" no-padding>
                  <div class="sbtn">
                    <ion-button expand="block" (click)="schApp();" [disabled]="!selectedTime || selectedTime==''">Schedule Session</ion-button>
                  </div>  
                </ion-col>
            </ion-row>
        </ion-grid>
    
  </ion-content>

