<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Payment
    </ion-title>
    <!-- <img class="search" src='assets/xfs_image/12/search.svg' (click)="search()"> -->
  </ion-toolbar>
</ion-header>

<ion-content padding class='payment'>
  

  <ion-grid>
    <ion-row class='graphSlider'> 
        <ion-slides pager="true" [options]="slideOptsTwo">   
          <ion-slide>
            <ion-row class='sliderRow'>  
              <ion-col size="12" class='sliderItem'>   
              <img src="assets/xfs_image/11/card_1.png" width="100%">                            
                
              </ion-col>                             
            </ion-row>            
          </ion-slide>          
          <ion-slide>
            <ion-row class='sliderRow'>  
              <ion-col size="12" class='sliderItem'>                 
                <img src="assets/xfs_image/11/card_2.png" width="100%">
                <ion-row class='sliderCardDetails'>
                  <ion-col size='12'>Card Detail</ion-col>
                  <ion-col size='12' class='cardnumber'>CARD NUMBER</ion-col>
                  <ion-col size='12' class='showcardnumber'>&#8226;&#8226;&#8226;&#8226; &nbsp;&nbsp;&#8226;&#8226;&#8226;&#8226;&nbsp;&nbsp; &#8226;&#8226;&#8226;&#8226; 4444</ion-col>

                  <ion-col size='8' class='expiryDate'>EXPIRATION DATE</ion-col>
                  <ion-col size='4'class='cvv'>CVV</ion-col>
                  <ion-col size='8' class='showexpiryDate'>MM/YY</ion-col>
                  <ion-col size='4' class='showexpiryDate'>&#8226;&#8226;&#8226;</ion-col>

                </ion-row>             
              </ion-col>                            
            </ion-row>            
          </ion-slide>    
          <ion-slide>
            <ion-row class='sliderRow'>  
              <ion-col size="12" class='sliderItem'>                 
                <img src="assets/xfs_image/11/card_1.png" width="100%">         
                
              </ion-col>                            
            </ion-row>            
          </ion-slide>       
        </ion-slides>
    </ion-row>
  </ion-grid>

   <ion-grid class='saveCards' *ngIf="cards.length>0">
    <ion-row>
      <ion-col size="12">
        <h5>Saved Cards</h5>
        <ion-radio-group *ngIf="cards.length>0" class="cardgroup" [(ngModel)]="selectcard">
        <ion-item lines="none" *ngFor="let c of cards">
          <ion-label>{{c.brand}} - {{c.last4}}</ion-label>
          <ion-radio slot="start" value="{{c.id}}" (ionSelect)="CardradioChecked(c.id)"></ion-radio>
        </ion-item>
      </ion-radio-group>
      </ion-col>
      <ion-col size="12">
          <button (click)='payNow()'>Pay</button>
      </ion-col>

    </ion-row>
  </ion-grid>
   
  <ion-grid class='cardDetailSection' *ngIf='showCreateNewCard'>
    <div class="cell example example3" id="example-3">

    <form class="subscribe_form" >
        <div class="fieldset">
          <ion-row class='cardSection'>
            <ion-col size="12">
                <!-- <ion-button fill="clear" class="insButton" (click)="buy()">Buy</ion-button>  -->
                <div class="error"  role="alert" >
                    <span class="message" id='card-errors'></span>
                </div>
              </ion-col>
              <ion-col size="12">
              <div id="example3-card-number" class="field empty"></div>
              </ion-col>
              <ion-col size="6">
                <div id="example3-card-expiry" class="field empty third-width"></div>
              </ion-col>
              <ion-col size="6">
                <div id="example3-card-cvc" class="field empty third-width"></div>
              </ion-col>
              <ion-col size="12">
                <ion-input [(ngModel)]='name' placeholder="Account Holder Name" clearInput inputmode="text" type="text" [ngModelOptions]="{standalone: true}"></ion-input>
              </ion-col>
              <ion-col size="12">
                <!-- <ion-button fill="clear" class="insButton" (click)="buy()">Buy</ion-button>  -->
                <button type="submit" data-tid="elements_examples.form.pay_button">Pay</button>
              </ion-col>
              
<!--  -->          
              
          </ion-row>
        </div>
      </form>
    </div>
  </ion-grid>

 
 <ion-grid *ngIf='!showCreateNewCard'>
    <ion-row class='newCardSection'>
      <ion-col size="12"  class='newButton'>
        <button type="button" style="width:100%" (click)='addNew()'>+ Add New Card</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--  sk --- sk_test_SGq10lBaOavGHzc7cbTIR5z9 -->
<!--  pk --- pk_test_c2z9zQhHw3cCdnRBP8vJDxkx -->
