<ion-header >
  
  <ion-toolbar>
   <ion-buttons slot="start">
      <!-- <ion-back-button text=''></ion-back-button>  routerLink="/tabs/home" routerDirection="back"-->
      <ion-button (click)='back()'><img src="assets/back-arrow.png" width="20px"></ion-button>
    </ion-buttons>
    <ion-title>
     Coach Directory
    </ion-title>    
  </ion-toolbar> 
</ion-header>
<ion-content>
	<ion-row>
		<ion-col size='12' class='coachSection' *ngFor='let client of Clients'>
			<ion-row>
				<ion-col size='4'>
					<img src="{{client.image}}">
				</ion-col>
				<ion-col size='8'>
					<h5>{{client.name}}</h5>
					<p><img src="assets/xfs_image/23/star.svg" width="15px"> {{client.star}}</p>
					<p><img src="assets/xfs_image/23/location.svg" width="12px"> {{client.address}}</p>
				</ion-col>
			</ion-row>
		</ion-col>
	</ion-row>
</ion-content>
