ion-header {
    ion-toolbar{
        --background : #000;
        --color: #fff;
        font-weight : 600;
    }
    ion-back-button {
        margin-top: 5px;
        content: url('assets/back-arrow.png');
        width: 20px;
        margin-left: 5px;
    }
}

ion-content{
    --background: transparent;
 
    z-index : 100000;
    background: #000;
    ion-button {
        --background: #012069;
        --background-focused: #012069;
        --background-hover: #012069;
        --background-activated: #012069;
        --border-radius: 15px;
        min-height: 46px;
        max-width: 100%;
        margin: 0px auto;
        width: 100%;
        letter-spacing: 1px;
        font-family: Poppins-Medium;
        text-transform: uppercase;
    }

    .profileImage{
        text-align : center;

        img{
            width : 50%;
            border-radius:24px;
        }
    }


    
}
.login{
    padding-bottom: 0;
}
.error-message{
    color: red;
    position: relative;
    margin-top: 0;
    font-size: 13px;
    top: 24px;
    left: 15px;
}
.form_fields{
    padding: 4px;
    padding-bottom: 5px;
    padding-top: 0px;
    width: 100%;
    margin: 0px auto;
    border-radius: 15px;
    margin-top: 10px;

    ion-row.field {
        min-height: 46px;
        line-height: 25px;
        overflow: hidden;
        max-width: 91%;
        margin: 0px auto;
        margin-bottom: 10px;
        border: 1px solid #cbcbcb;
        border-radius: 50px;
    }
    ion-input {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        left: 20px;
        width: 92%;
        color: #b3b3b3;

        input{
            background-image: unset!important;
        }
        
    }
    .shadow{
        padding-top: 95px;
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.3);
        border-radius: 50px;
        margin-bottom: 10px;
        background-color: transparent;
        max-width: 93%;
        margin: 0px auto;
        margin-bottom: 15px;
    }
    ion-datetime{
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
        left: 4px;
        width: 92%;
        color: #000;
        font-size:16px;
        color: #b3b3b3;
    }
    img{
        width:20px;
        margin-top:5px;
    }
}  

form{
    margin-top : 30px;

    ion-grid{
        width: 100%;
        min-height: auto;
        margin: 20px auto;
        box-shadow: 2px -1px 8px 0px rgba(0, 0, 0, 0.1);
        position: relative;

        .logoImage{
            margin-top :80px;
            margin-bottom :30px;
            width:100%;
            height: 90px;
        }

        p.signup{
            margin-bottom: 20px;
            margin-top: 0;
            position: relative;
        }
        p.signup:before{
            content: "";
            position: absolute;
            width: 12%;
            height: 1px;
            bottom: -10px;
            left: 45%;
            border-bottom: 1px solid black;
        }
        p.message{
            margin-top: 0;
            font-size:15px;
        }

        .submitButton{
            padding: 12px;
            font-size: 16px;
            height: 46px;
            background: #59acfc;
            width: 100%;
            border-radius: 50px;
            color: #fff;
            letter-spacing: 1px;
        }
    }
}
.updateImage{
    color: #59acfc;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.upload{
    max-width: 91%;
    margin: 0 auto;

    .updateImageInput{
        padding: 10px 18px;
        border-radius: 24px;
        border: 1px solid #cbcbcb;
    }  
}
