<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button><img src="assets/xfs_image/12/side_bar.svg"></ion-menu-button> -->
      <ion-button (click)='back()'><img src="assets/back-arrow.png" width="20px"></ion-button>
    </ion-buttons>
    <ion-title>
      Videos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class='mainPage videosPage' (click)='hideShowSort()'>
  
  <ion-grid class='searchSection'>
    <ion-row class='searchInput'>
      <ion-col size="9" class='searchbox'>
        <ion-input type="text" [(ngModel)]='searchInput' placeholder="Search" clearInput autocapitalize="off" inputmode="text"></ion-input>
        <img src="assets/xfs_image/13/search.svg" (click)='search()'>
      </ion-col>
      <ion-col size="3" class='sortbox' (click)='toggleShowSort()'>
      
          <img src="assets/xfs_image/13/sort.svg">
          <ion-row *ngIf='showSort'>
            <ul>
              <li (click)='sort("new")'>Newest</li>
              <li (click)='sort("view")'>Most Reviewed</li>
              <li (click)='sort("alpha")'>Alphabetical</li>
            </ul>
          </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">

            <ion-row class='imageSlider123'> 
              <ion-slides pager="true" [options]="slideOpts123" #mySlider>   
                <ion-slide *ngFor='let slide of Categories; let i = index;'>
                  <ion-row class='sliderRow {{i == 0 ? "active" : ""}} slideContent' id='tab{{i}}'  (click)="openSlideContent(slide.slug , i)">  
                    <ion-col size="12" class='sliderItem'>
                       
                       {{slide.name}}
                    </ion-col> 
            
                  </ion-row>
                  
                </ion-slide>  
              
                      
              </ion-slides>
          </ion-row>

            <ion-row class="tabcontent">
               <ion-col size="12" *ngFor='let video of filterCatData'>
               
                <iframe controls="true" name="iframe1" id="iframe1"  [src]="video.VideoId" frameborder="0" allowfullscreen='1' title='Watch Video' allow=" encrypted-media" class="videoFrame"></iframe>
                <span>{{video.Title}}</span>
              </ion-col>
              <ion-col size="12" class='news' *ngIf='filterCatData.length == 0'>
                <ion-row>
                  <h5 class="noRecordFound">No record found.</h5>
                 </ion-row>
              </ion-col>
             <!--  <ion-col size="12">
                 <video src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4"></video>
                 <span>Video Title</span>
              </ion-col> -->
            </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
