ion-toolbar {
    --border-width: 0px!important;
    --background: #000 !important;
    background: #000;
    color: #fff;


    ion-menu-button {
        color: #fff;
    }    
    .sc-ion-back-button-ios-h{
        color : #fff;
    }
    .toolbar-container{
     --background: #000 !important;
      background: #000 !important;
    }
    .ion-color-primary{
    	background: #000
    }

    ion-toolbar ion-menu-button {
        color: #fff;
        content: url(assets/xfs_image/12/side_bar.svg);
        width: 18px;
        margin-left: 10px;
    }
    .search{
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 20px;
        width: 18px;
    } 
    
    ion-buttons{
        padding-left: 2%;
    }
}

ion-content{
   
    z-index : 1;
    --background: #000;
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;

    h2{
        color: #59acfc;
        width: 100%;
        text-align: center;
        font-weight: 700;
    }

    p{
        text-align: center;
        color: #9e9e9e;
        font-size: 14px;
    }

    .insButton{
        width: 100%;
        background: #59acfc;
        color: white;
        border-radius: 50px;
    }

    .imageSlider  {

        margin: 0 auto;    
        height: auto;
        position: relative;

        .sliderRow{            
            padding:0;
            border-radius: 40px;
            min-height: 15vh;
            max-width: 94vw;
            width: 100% !important
        }

        ion-slide{
            width : 100% !important;
        }  

        video{
            border-radius: 24px;
        }


       
    }

    .graphSlider  {

        margin: 0 auto;    
        height: auto;
        position: relative;

        .sliderRow{            
            padding:0;
            border-radius: 40px;
            min-height: 15vh;
            max-width: 94vw;
            width: 100% !important;
            position: relative;
        }

        img{
            width : 100% !important;
            background: #2d2d2d;
            padding: 40px 15px 0;
            border-radius: 20px;
            margin: 0 !important;
        }
        .secondGraph{
            color: #99b041;
        }
        .thirdGraph{
            color: yellow;
        }

        h6{
            position: absolute;
            top: 0px;
            left: 25px;
            letter-spacing: 1px;
            color: #59acfc;
            font-weight: 600;

            span{
                font-size: 10px;
                margin-left:-7px;
                color: #9e9e9e !important;
            }
        }
        

        ion-slide{
            width : 100% !important;
        }  

        video{
            border-radius: 24px;
        }       
    }
    .heading{
        h5{
            color: white;
            padding-left: 25px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 16px;
        }
        
    }
    .sessions{
        background: #2d2d2d;
        margin: 0 4%;
        border-radius: 24px;
        h6{
            margin-left: 16px;
        }
        .remaining{
            color: white;
            font-weight: 700;
        }
        .purchase{
            width: 40%;
            max-width: 60%;
            background: #0000007a;
            padding: 7px 8%;
            font-size: 10px;
            border-radius: 15px;
            color: #99b041;
            font-weight: 700;
            text-align: center;
        }

        .purchaseDigit{

            h6{
                background: #171717;
                padding: 25% 16%;
                margin-right: 3px;
                text-align: center !important;
                border-radius: 24px;
                color: #99b041;
                font-weight: 700;
            }

            
        }
    }

    #container , #container1, #container2{
        text-align: left;
        padding: 30px 25px 12px;
        background: #2d2d2d;
        border-radius: 24px;
        position:relative;
    }

    .menu{
        padding-top: 25px;
    }

    .serv {
        position: relative;
        z-index: 99999;
        // display: block;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        span {
            display: inline-block;
            background-color: #2d2d2d;
            box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
            width: 45%;
            margin-right: 15px;
            margin-bottom: 15px;
            height: 165px;
            border-radius: 24px;
            text-align: center;

            img {
                width: 77px;
                height: 77px;
                margin: 0px auto;
                margin-top: 25px;
            }
        }
        span:nth-child(even){
            margin-right: 0px;
        }
        p {
            font-family: Poppins-Medium!important;
        }
    }
    
    .lastMenu{
        justify-content: unset;
        margin-left: 3%;
        margin-top: -5%;
    }

    .OnlineUserSecion{
        ion-row{
            color: white;text-transform: capitalize;padding:3%;            
            
        }

        .name{
            padding-top: 25px;
            padding-left: 25px;
            text-transform: capitalize;
        }


        img{
            width:100% !important;
            height: 70px !important;
            border-radius: 20px;
        }
    }

}

@media screen and (min-width: 420px){
   ion-content .lastMenu {
        justify-content: unset;
        margin-left: 3%;
        margin-top: -3%;
    }
  }
